$font-url: "https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap";

:root {
  --tp-font-heading: "Lexend", sans-serif;
  --tp-font-body: "Lexend", sans-serif;
  --tp-font-flaticon: "flaticon";
}
