.footer {
  position: relative;
  padding: 45px 24px; // reduced height
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #cac9c4;

  // Overlay
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.9); // adjust darkness here
    z-index: 0;
  }

  > .container {
    position: relative;
    z-index: 1;
  }

  &__top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 28px;
    margin-bottom: 36px; // reduced
  }

  &__section {
    .footer__title {
      font-size: 12px;
      letter-spacing: 1px;
      font-weight: 600;
      color: #8f8e8a;
      margin-bottom: 14px; // reduced
      text-transform: uppercase;
    }

    .footer__list {
      li {
        margin-bottom: 8px;
        list-style: inside;

        a {
          color: #e2e1de;
          font-size: 15px;
          text-decoration: none;

          &:hover {
            color: #ffffff;
          }
        }
      }
    }

    &.footer__contact .footer__logo {
      width: 120px;
      margin-bottom: 16px;
    }
  }

  .footer__cta {
    text-align: end;
    /* Tablet desktop :768px. */
    @media (min-width: 768px) and (max-width: 991px) {
      text-align: start;
    }
  }

  .rpm-btn {
    background-color: #029348;
    padding: 9px 22px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    transition: 0.3s;

    &:hover {
      background-color: #ffffff;
      color: #029348;
    }
  }

  &__divider {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
    margin-bottom: 22px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
  }

  .footer__social {
    display: flex;
    gap: 18px;

    li {
      list-style: none;
    }
  }

  .footer__privacy {
    font-size: 14px;
    color: #8f8e8a;

    &:hover {
      color: #ffffff;
    }
  }

  /* ───── Responsive ───── */
  @media (max-width: 768px) {
    padding: 35px 18px; // smaller on phones & tablets

    &__top {
      gap: 24px;
      margin-bottom: 26px;
    }

    .footer__cta {
      text-align: start;
    }

    &__bottom {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  }
}
