@use "../utils" as *;

.banner-area {
  &__item {
    position: relative;
    background-color: black;
    height: calc(100vh - 80px); // full screen minus header

    @media (max-width: 767px) {
      height: calc(100vh - 200px); // more height on small mobile
    }

    &::after {
      position: absolute;
      content: "";
      inset: 0;
      z-index: 0;
      background: linear-gradient(
        135deg,
        // to top right
        rgba(255, 255, 255, 0.95) 0%,
        rgba(255, 255, 255, 0.6) 40%,
        rgba(255, 255, 255, 0) 100%
      );
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__content {
      position: absolute;
      bottom: 50px;
      left: 90px;
      z-index: 1;
      width: 830px;

      @media (min-width: 768px) and (max-width: 991px) {
        width: 730px;
        left: 30px;
      }

      @media (max-width: 767px) {
        left: 20px;
        width: calc(100% - 40px); // make it fit smaller screens
        bottom: 30px; // reduce spacing from bottom
      }

      h1 {
        font-size: 54px;
        color: #4d4d4d;
        font-weight: 500;
        margin-bottom: 24px;
        overflow: hidden;

        @media (min-width: 768px) and (max-width: 991px) {
          font-size: 50px;
        }

        @media (max-width: 767px) {
          font-size: 30px; // unify smaller mobile and large mobile
        }
      }

      p {
        color: #4d4d4d;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.6;
        overflow: hidden;

        @media (max-width: 767px) {
          font-size: 16px;
        }
      }
    }
  }

  .banner-button-next,
  .banner-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    cursor: pointer;
    background-color: #029348;
    color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: #d12b38;
    }

    /* small mobile :320px. */
    @media (max-width: 767px) {
      display: none;
    }
  }

  .swiper-button-disabled {
    cursor: no-drop;
  }

  .banner-button-next {
    right: 40px;
  }

  .banner-button-prev {
    left: 40px;
  }

  /* Mobile adjustments */
  @media (max-width: 767px) {
    .banner-button-next {
      right: 15px;
    }

    .banner-button-prev {
      left: 15px;
    }
  }
}
