@use "../utils" as *;

.banner-area {
  &__item {
    position: relative;
    background-color: black;
    height: calc(100vh - 80px); // full screen minus header

    @media (max-width: 767px) {
      height: calc(100vh - 200px); // more height on small mobile
    }

    &::after {
      position: absolute;
      content: "";
      inset: 0;
      z-index: 0;
      background: linear-gradient(
        135deg,
        // to top right
        rgba(255, 255, 255, 0.95) 0%,
        rgba(255, 255, 255, 0.6) 40%,
        rgba(255, 255, 255, 0) 100%
      );
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__content {
      position: absolute;
      bottom: 50px;
      left: 90px;
      z-index: 1;
      width: 830px;

      @media (min-width: 768px) and (max-width: 991px) {
        width: 730px;
        left: 30px;
      }

      @media (max-width: 767px) {
        left: 20px;
        width: calc(100% - 40px); // make it fit smaller screens
        bottom: 30px; // reduce spacing from bottom
      }

      h1 {
        font-size: 54px;
        color: #4d4d4d;
        font-weight: 500;
        margin-bottom: 24px;

        @media (min-width: 768px) and (max-width: 991px) {
          font-size: 50px;
        }

        @media (max-width: 767px) {
          font-size: 30px; // unify smaller mobile and large mobile
        }
      }

      p {
        color: #4d4d4d;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.6;

        @media (max-width: 767px) {
          font-size: 16px;
        }
      }
    }
  }

  /* Optional: arrows for Swiper */
  .swiper-button-next,
  .swiper-button-prev {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #029348;
    font-size: 18px; // Font Awesome icon size
    z-index: 10;
    transition: 0.3s ease-in;

    &:hover {
      background: #029348;
      color: #fff;
    }

    @media (max-width: 767px) {
      width: 30px;
      height: 30px;
      font-size: 14px;
    }

    i {
      pointer-events: none; // ensure icon doesn't block click
    }
  }
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "";
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "";
}
