@use "../utils" as *;

/*----------------------------------------*/
/* Button
/*----------------------------------------*/
.rpm-btn {
  font-family: "Inter", sans-serif;
  background-color: #029348;
  padding: 8px 16px;
  border-radius: 8px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  line-height: 21px;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: #ffffff;
    color: #029348;
  }
}
