@use "../utils" as *;

.inner-area {
  position: relative;
  padding-top: 80px;
  width: 100%;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;

  &::before {
    position: absolute;
    content: "";
    background-color: rgb(255, 255, 255, 0.76);
    inset: 0;
  }

  // Background image
  &__bg {
    position: absolute;
    inset: 0;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  // Text content
  &__content {
    color: #4d4d4d;
    padding: 0 15px;
    max-width: 800px;
    animation: fadeInUp 1s ease-in-out;
    z-index: 1;

    h1 {
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      font-weight: 400;
      opacity: 0.85;
    }
  }
}

// Mobile responsiveness
@media (max-width: 767px) {
  .inner-area {
    height: 260px;

    &__content {
      h1 {
        font-size: 32px;
      }
      p {
        font-size: 15px;
      }
    }
  }
}
