@use "../utils" as *;

.product-area {
  padding: 120px 0;

  /* Tablet desktop :768px. */
  @media (min-width: 768px) and (max-width: 991px) {
    padding: 60px 0 0px;
  }

  /* small mobile :320px. */
  @media (max-width: 767px) {
    padding: 60px 0;
  }

  .single-product {
    text-align: center;
    margin-bottom: 30px;
    /* Slight shadow */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    padding-bottom: 30px;
    &__img {
      height: 200px;
      margin-bottom: 30px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  h4 {
    font-size: 22px;
    line-height: 27px;
    font-weight: 400;
    text-align: center;

    /* small mobile :320px. */
    @media (max-width: 767px) {
      font-size: 18px;
      line-height: 18px;
    }
  }

  p {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    padding: 0px 10px;
    /* small mobile :320px. */
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
}
