@use "../utils" as *;

.skill-area {
  .section-title-wrap {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 20px;
    h1 {
      position: relative;
      padding-bottom: 24px;

      &::before {
        position: absolute;
        content: "";
        background-color: #ffba5a;
        bottom: 0;
        height: 2px;
        width: 50px;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
  }
  .single-skill {
    border-top: 1px solid rgb(179, 201, 56, 0.25); // top border
    border-left: 1px solid rgb(179, 201, 56, 0.25); // left border
    padding: 15px; // optional: space inside
    border-radius: 8px 0 0 0; // top-left rounded corner if desired
    background-color: #fff; // optional: background
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 30px;

    h5 {
      color: #333333;
      font-size: 14px;
      font-weight: 500;
      line-height: 22px;
      margin-bottom: 8px;
    }

    p {
      font-size: 14px;
      line-height: 28px;
      font-weight: 400;
      color: #666666;
    }
  }
}
