@use "../utils" as *;

.team-area {
  padding: 60px 0 30px 0;

  .single-member {
    position: relative;
    margin-bottom: 90px;

    &__img {
      aspect-ratio: 1/1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
      }
    }

    &__content {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -50px;
      width: 270px;
      margin: 0 auto;

      background: rgba(255, 255, 255, 0.8);
      border: 2px solid rgba(255, 255, 255, 0.9);
      box-sizing: border-box;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      padding: 18px 0;
      text-align: center;
      border-radius: 8px;

      h5 {
        color: #424245;
        font-size: 28px;
        line-height: 32px;
        font-weight: 600;
      }

      p {
        color: #424245;
        font-size: 18px;
        line-height: 23px;
        font-weight: 400;
      }
    }
  }

  // Responsive Breakpoints
  @media (max-width: 992px) {
    .single-member__content {
      width: 220px;
      bottom: -40px;

      h5 {
        font-size: 24px;
      }

      p {
        font-size: 16px;
      }
    }
  }

  @media (max-width: 768px) {
    .single-member {
      margin-bottom: 60px;
    }

    .single-member__content {
      width: 200px;
      bottom: -35px;

      h5 {
        font-size: 20px;
      }

      p {
        font-size: 14px;
      }
    }
  }

  @media (max-width: 767px) {
    .single-member__content {
      width: 260px;
      bottom: -30px;

      p {
        font-size: 12px;
      }
    }
  }
}
