@forward "btn";
@forward "back_to_top";
@forward "custom-animation";
@forward "banner";
@forward "lab";
@forward "security";
@forward "about";
@forward "services";
@forward "certificates";
@forward "solution";
@forward "products";
@forward "partners";
@forward "serve";
@forward "why-choose-us";

// About Us Page
@forward "inner";
@forward "about-rpm";
@forward "why-rpm";
@forward "skill";
@forward "mission";
@forward "director";
@forward "team";

// Product Detail
@forward "product-tab";

// Contact Us
@forward "accordion";
@forward "contact";

// Career
@forward "career";

// Service Detail
@forward "service-detail";
